<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domainopenid</key>
	<string></string>
	<key>clientid</key>
	<string>Axis</string>
	<key>clientsecret</key>
	<string></string>
	<key>domainoauth</key>
	<string>https://acme2.my.dev.idaptive.app</string>
	<key>systemurl</key>
	<string>https://aaj7617.my.dev.idaptive.app</string>
	<key>applicationid</key>
	<string>OAuthTest</string>
	<key>redirecturi</key>
	<string>ciamsdkdemo://com.cyberark.ciamsdk</string>
	<key>scope</key>
	<string>All</string>
	<key>threshold</key>
	<integer>60</integer>
	<key>responsetype</key>
	<string>code</string>
	<key>logouturi</key>
	<string>identitysdklogout://com.cyberark.identity</string>
</dict>
</plist>
