<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientid</key>
	<string>{your_clientId}</string>
	<key>domainoauth</key>
	<string>{your_domainoauth}</string>
	<key>loginurl</key>
	<string>{your_loginurl}</string>
	<key>systemurl</key>
	<string>{your_systemurl}</string>
	<key>applicationid</key>
	<string>{your_applicationid}</string>
	<key>redirecturi</key>
	<string>{your_redirecturi}</string>
	<key>scope</key>
	<string>{your_scope}</string>
	<key>threshold</key>
	<integer>0</integer>
	<key>responsetype</key>
	<string>{your_responsetype}</string>
	<key>widgetid</key>
	<string>{your_widgetid}</string>
	<key>mfatenanturl</key>
	<string>{your_mfatenanturl}</string>
	<key>authwidgethosturl</key>
	<string>{your_authwidgethosturl}</string>
	<key>authwidgetid</key>
	<string>{your_authwidgetid}</string>
	<key>resourceurl</key>
	<string>{your_resourceurl}</string>
</dict>
</plist>
