<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientid</key>
	<string>cf5337f7-9742-4399-90b5-d1651f6a9b47</string>
	<key>domainoauth</key>
	<string>https://aak7873.my.dev.idaptive.app</string>
	<key>loginurl</key>
	<string>https://ciam.cyberarklab.com</string>
	<key>systemurl</key>
	<string>https://aak7873.my.dev.idaptive.app</string>
	<key>applicationid</key>
	<string>OpenIDConnectiOS</string>
	<key>redirecturi</key>
	<string>authwidgetdemo://com.cyberark.ciamsdk/redirectcallback</string>
	<key>scope</key>
	<string>openid email profile All</string>
	<key>threshold</key>
	<integer>60</integer>
	<key>responsetype</key>
	<string>code</string>
	<key>widgetid</key>
	<string>a5556784-04f4-48d0-a78a-8b80eca106f6</string>
	<key>mfatenanturl</key>
	<string>https://auth.cyberarklab.com</string>
	<key>authwidgethosturl</key>
	<string>https://aak7873.my.dev.idaptive.app</string>
	<key>authwidgetid</key>
	<string>16ebdde7-a708-4e60-a28b-80ecdcb6e719</string>
	<key>resourceurl</key>
	<string>authwidgetdemo://com.cyberark.ciamsdk/resourcecallback</string>
</dict>
</plist>
